.App{
  background-color: grey;
  display:flex;
  flex-direction: column;
  width:fit-content;
  height: fit-content;
  margin-top: 100px;
  margin-left: 50%;
}

.Btn{
  height:40px;
  width: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.Row{
  margin-top: 30px;
}