.App{
  background-color: grey;
  display:flex;
  flex-direction: column;
  width:fit-content;
  height: fit-content;
  margin-left: 50px;
  border-radius: 5%;
}

.gameContainer{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 200px;
}
.Btn{
  height:40px;
  width: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.Row{
  margin-top: 30px;
}